.food-element {
    padding: 40px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.food-actions button {
    background: none;
    border: none;
}
.food-actions button:hover {
    cursor: pointer;
}

h2 {
    margin: 0
}

.food-table {
    padding: 10px;
    border-radius: 10px;
    list-style: none;
}
.food-table li {
    display: flex;
    justify-content: space-between;
}